/* ******************
   * kijs Retro Theme
   ****************** */
/* LIGHT Farbeschema*/
/* ---------------- */
:root {
  --accentColor: #83a5d9;
  /*#1f90f2;*/
  --accentColor2: #dfe8f6;
  /*#d9ecfc;*/
  --accentColor3: #ff9900;
  --errorColor: #c23c45;
  --errorColorLight: #f4d9d9;
  --helpColor: #83a5d9;
  /*#1f90f2;*/
  --helpColorLight: #d9ecfc;
  --okColor: #61c259;
  --grey00: #fff;
  --grey02: #fff;
  --grey03: #f6f6f6;
  --grey04: #efefef;
  --grey05: #ddd;
  --grey06: #ccc;
  --grey07: #aaa;
  --grey08: #888;
  --grey09: #555;
  --grey10: #444;
  --grey11: #000;
}
/* DARK Farbeschema*/
/* --------------- */
/*gibt es nicht*/
/* Masse und Farbzuweisungen */
/* ------------------------- */
:root {
  /* Masse */
  --default-fontSize: 11px;
  --default-lineHeight: 14px;
  --icon-fontSize: 13px;
  --button-fontSize: 11px;
  --button-lineHeight: 14px;
  --button-height: 22px;
  --container-fieldset-label-height: 16px;
  --container-fieldset-icon-fontSize: 16px;
  --container-fieldset-caption-fontSize: 12px;
  --container-fieldset-caption-lineHeight: 16px;
  --container-fieldset-caption-paddingTop: 0px;
  --field-fontSize: 11px;
  --field-lineHeight: 13px;
  --field-height: 22px;
  --field-label-paddingTop: 4px;
  --checkbox-height: 15px;
  --checkbox-fontSize: 10px;
  --checkbox-lineHeight: 12px;
  --range-btnHeight: 16px;
  --switch-height: 20px;
  --badge-fontSize: 10px;
  --badge-lineHeight: 13px;
  --headerBar-fontSize: 11px;
  --footerBar-fontSize: 11px;
  --msgbox-fontSize: 11px;
  --msgbox-lineHeight: 13px;
  --item-fontSize: 11px;
  --item-lineHeight: 13px;
  --item-label-fontSize: 10px;
  --panel-collapse-height: 26px;
  --panel-collapse-width: 30px;
  /* Standard Feldbreiten */
  --defaultField-inputWidth: 180px;
  --defaultNumber-inputWidth: 800px;
  --defaultMonth-inputWidth: 130px;
  --defaultDate-inputWidth: 80px;
  --defaultTime-inputWidth: 80px;
  --defaultDateTime-inputWidth: 130px;
  --defaultWeek-inputWidth: 80px;
  --defaultDateRange-inputWidth: 170px;
  --defaultPhone-inputWidth: 130px;
  --defaultSozVersNr-inputWidth: 120px;
  /* Farbzuweisungen */
  --viewport-bkgrndColor: #dfe8f6;
  --splitter-overlay-bkgrndColor: var(--grey06);
  /* Default */
  --default-fontFamily: 'Tahoma','Arial','Helvetica', sans-serif;
  --default-fontColor: var(--grey11);
  --default-disabled-fontColor: var(--grey08);
  /* Mask */
  --mask-bkgrndColor: rgba(0, 0, 0, 0.35);
  --mask-fontColor: #fff;
  --mask-icon-fontColor: #fff;
  /* Separator */
  --separator-bkgrndColor: #bdc4cd;
  --separator-disabled-bkgrndColor: #bdc4cd;
  /* Icon */
  --icon-fontColor: var(--grey10);
  --icon-disabled-fontColor: var(--grey08);
  /* Button */
  --button-bkgrndColor: var(--grey03);
  --button-borderColor: #bdc4cd;
  --button-fontColor: var(--grey11);
  --button-icon-fontColor: var(--grey10);
  --button-focus-bkgrndColor: var(--grey05);
  --button-focus-borderColor: var(--accentColor);
  --button-focus-fontColor: var(--grey11);
  --button-active-bkgrndColor: var(--grey06);
  --button-disabled-fontColor: var(--grey08);
  /* Button im Panel-Header */
  --buttonGroup-button-fontColor: var(--grey09);
  --buttonGroup-button-bkgrndColor: var(--grey03);
  --buttonGroup-button-borderColor: transparent;
  --buttonGroup-button-focus-bkgrndColor: var(--grey05);
  --buttonGroup-button-focus-fontColor: var(--grey11);
  /* Buttons im Panel-Footer */
  --footer-button-bkgrndColor: var(--grey03);
  --footer-button-borderColor: var(--grey07);
  --footer-button-focus-bkgrndColor: var(--grey05);
  --footer-button-focus-borderColor: var(--accentColor);
  --footer-button-disabled-bkgrndColor: var(--grey03);
  --footer-button-disabled-borderColor: var(--grey07);
  /* Buttons im Window-Footer */
  --window-footer-button-bkgrndColor: var(--accentColor);
  --window-footer-button-borderColor: var(--accentColor);
  --window-footer-button-fontColor: var(--grey11);
  --window-footer-button-focus-borderColor: var(--grey11);
  --window-footer-button-focus-fontColor: var(--grey11);
  /* Tab */
  --tabBar-bkgrndColor: var(--grey03);
  --tabButton-bkgrndColor: var(--grey04);
  --tabButton-borderColor: #8db2e3;
  --tabButton-fontColor: #15428b;
  --tabButton-current-bkgrndColor: var(--grey02);
  --tabButton-current-borderColor: #8db2e3;
  --tabButton-current-fontColor: #15428b;
  --tabButton-focus-bkgrndColor: var(--grey04);
  --tabButton-focus-borderColor: var(--grey05);
  --tabButton-focus-fontColor: var(--accentColor);
  /* Badge */
  --badge-bkgrndColor: var(--accentColor3);
  --badge-fontColor: var(--grey11);
  --badge-disabled-bkgrndColor: var(--grey06);
  --badge-disabled-fontColor: var(--grey08);
  /* Panel */
  --panel-bkgrndColor: var(--grey02);
  --panel-innerBorderColor: var(--grey05);
  --panel-borderColor: #99bbe8;
  --panel-disabled-borderColor: #bccde4;
  /* Bar */
  --bar-fontColor: #15428b;
  --bar-bkgrndColor: #99bbe8;
  --bar-disabled-fontColor: #677da0;
  --bar-disabled-bkgrndColor: #bccde4;
  --bar-icon-fontColor: #15428b;
  --bar-icon-disabled-fontColor: #677da0;
  --bar-button-icon-fontColor: #15428b;
  --bar-button-icon-disabled-fontColor: #677da0;
  /* container.Fieldset */
  --container-fieldset-borderColor: var(--grey07);
  /* MsgBox */
  --msgbox-fontColor: var(--grey11);
  /* Field */
  --field-fontColor: var(--grey11);
  --field-bkgrndColor: var(--grey02);
  --field-borderColor: #b5b8c8;
  --field-focus-borderColor: var(--accentColor);
  --field-label-fontColor: var(--grey11);
  --field-item-bkgrndColor: var(--grey09);
  --field-item-focus-bkgrndColor: var(--accentColor);
  --field-disabled-bkgrndColor: var(--grey03);
  --field-disabled-fontColor: var(--grey08);
  --field-error-bkgrndColor: var(--errorColorLight);
  /* Range */
  --range-bkgrndColor: var(--grey07);
  --range-btnColor: var(--grey09);
  /* Item */
  --item-bkgrndColor: var(--grey02);
  --item-borderColor: var(--grey03);
  --item-fontColor: var(--grey11);
  --item-today-fontColor: var(--accentColor);
  --item-focus-bkgrndColor: var(--grey03);
  --item-focus-borderColor: var(--grey03);
  --item-focus-fontColor: var(--grey11);
  --item-selected-bkgrndColor: var(--accentColor2);
  --item-selected-borderColor: var(--accentColor);
  --item-selected-fontColor: var(--grey11);
  --item-disabled-bkgrndColor: var(--grey03);
  --item-disabled-borderColor: var(--grey05);
  --item-disabled-fontColor: var(--grey11);
  --item-selected-disabled-bkgrndColor: var(--grey03);
  --item-selected-disabled-borderColor: var(--grey07);
  --item-selected-disabled-fontColor: var(--grey11);
  --item-label-fontColor: var(--grey08);
  --item-label-disabled-fontColor: var(--grey08);
  /* Clock */
  --clock-bkgrndColor: var(--grey04);
  --clock-fontColor: var(--grey11);
  --clock-pointer-bkgrndColor: var(--accentColor);
  --clock-disabled-pointer-bkgrndColor: var(--grey07);
  /* Help/Error Icon */
  --icon-error-bkgrndColor: var(--errorColorLight);
  --icon-error-borderColor: var(--errorColor);
  --icon-error-fontColor: var(--errorColor);
  --icon-help-bkgrndColor: var(--helpColorLight);
  --icon-help-borderColor: var(--helpColor);
  --icon-help-fontColor: var(--helpColor);
  /* Drag & Drop */
  --dragover-ok-borderColor: var(--accentColor3);
  --dragover-forbidden-borderColor: var(--errorColor);
  /* Grid */
  --grid-header-bkgrndColor: var(--grey03);
  --grid-border-color: var(--grey05);
}
/* Spezifische Anpassungen */
/* ----------------------- */
@layer kijs-theme {
  /* kijs.gui.Button */
  .kijs-button {
    border-radius: 3px;
    background: linear-gradient(#f3f4f4, #ededed 12px, #dfdfdf 13px, #dfdfdf);
  }
  .kijs-button > .kijs-badge {
    right: -3px;
  }
  .kijs-button:hover,
  .kijs-button:focus {
    background: linear-gradient(#f3f4f4, #d5eafd 12px, #c3d9f3 13px, #c5dbf5);
    border: 1px solid var(--button-focus-borderColor);
  }
  .kijs-button:hover > .kijs-caption,
  .kijs-button:focus > .kijs-caption {
    color: var(--button-focus-fontColor);
  }
  .kijs-button:active {
    background: linear-gradient(#c1d2e7, #bed1e6 12px, #8fc1f5 13px, #96c4f5);
  }
  .kijs-button.kijs-disabled {
    background: linear-gradient(#f3f4f4, #ededed 12px, #dfdfdf 13px, #dfdfdf);
    border: 1px solid var(--button-borderColor);
    cursor: default;
  }
  .kijs-button.kijs-disabled > .kijs-caption,
  .kijs-button.kijs-disabled > .kijs-icon {
    color: var(--button-disabled-fontColor);
  }
  .kijs-button.kijs-disabled > .kijs-badge {
    background-color: var(--badge-disabled-bkgrndColor);
    color: var(--badge-disabled-fontColor);
  }
  /* kijs.gui.container.Scrollable */
  div.kijs-container-scrollable > .kijs-btn-scrollup,
  div.kijs-container-scrollable > .kijs-btn-scrolldown,
  div.kijs-container-scrollable > .kijs-btn-scrollleft,
  div.kijs-container-scrollable > .kijs-btn-scrollright {
    border-radius: 3px;
    background: transparent;
  }
  div.kijs-container-scrollable > .kijs-btn-scrollup:hover,
  div.kijs-container-scrollable > .kijs-btn-scrolldown:hover,
  div.kijs-container-scrollable > .kijs-btn-scrollleft:hover,
  div.kijs-container-scrollable > .kijs-btn-scrollright:hover,
  div.kijs-container-scrollable > .kijs-btn-scrollup:focus,
  div.kijs-container-scrollable > .kijs-btn-scrolldown:focus,
  div.kijs-container-scrollable > .kijs-btn-scrollleft:focus,
  div.kijs-container-scrollable > .kijs-btn-scrollright:focus {
    background: linear-gradient(#f3f4f4, #d5eafd 12px, #c3d9f3 13px, #c5dbf5);
  }
  div.kijs-container-scrollable > .kijs-btn-scrollup.kijs-disabled,
  div.kijs-container-scrollable > .kijs-btn-scrolldown.kijs-disabled,
  div.kijs-container-scrollable > .kijs-btn-scrollleft.kijs-disabled,
  div.kijs-container-scrollable > .kijs-btn-scrollright.kijs-disabled {
    background: transparent;
    cursor: default;
  }
  /* kijs.gui.PanelBar */
  div.kijs-panelbar {
    background: linear-gradient(180deg, #eef3f9 0%, #dfebf7 10%, #cddef3 42%, #adc8ec 45%, #bad0ee 60%, #cddef3 100%);
  }
  div.kijs-panelbar > .kijs-icon {
    height: 16px;
    width: 16px;
  }
  div.kijs-panelbar .kijs-button.kijs-smallpaddings > span {
    margin-right: 0;
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button {
    padding: 0 2px;
    /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,253,255,1) 7%, rgba(213,233,255,1) 94%, rgba(233,244,255,1) 100%);*/
    height: 16px;
    border: 1px solid #99bbe8;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px white inset;
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button > .kijs-caption,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button > .kijs-caption {
    line-height: 26px;
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button > .kijs-icon,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button > .kijs-icon {
    width: 11px;
    font-size: 11px;
    line-height: 14px;
    color: var(--bar-button-icon-fontColor);
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button > .kijs-badge,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button > .kijs-badge {
    top: -2px;
    height: 10px;
    min-width: 10px;
    font-size: 8px;
    line-height: 10px;
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button.kijs-disabled,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button.kijs-disabled {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor: default;
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-caption,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-caption,
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-icon,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-icon {
    color: var(--bar-button-icon-disabled-fontColor);
  }
  div.kijs-panelbar > .kijs-container-left > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-badge,
  div.kijs-panelbar > .kijs-container-right > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-badge {
    background-color: var(--badge-disabled-bkgrndColor);
    color: var(--badge-disabled-fontColor);
  }
  div.kijs-panelbar > .kijs-container-inner {
    line-height: 25px;
    font-weight: bold;
  }
  div.kijs-panelbar.kijs-headerbar {
    border-bottom: 1px solid var(--bar-bkgrndColor);
  }
  div.kijs-panelbar.kijs-headerbar > .kijs-container-inner {
    font-family: var(--default-fontFamily);
    font-size: var(--headerBar-fontSize);
    text-align: left;
  }
  div.kijs-panelbar.kijs-headerbar-center {
    border-top: 1px solid var(--bar-bkgrndColor);
    border-bottom: 1px solid var(--bar-bkgrndColor);
  }
  div.kijs-panelbar.kijs-headerbar-center > .kijs-container-inner {
    font-family: var(--default-fontFamily);
    font-size: var(--headerBar-fontSize);
    text-align: center;
  }
  div.kijs-panelbar.kijs-footerbar {
    border-top: 1px solid var(--bar-bkgrndColor);
  }
  div.kijs-panelbar.kijs-footerbar > .kijs-container-inner {
    font-family: var(--default-fontFamily);
    font-size: var(--footerBar-fontSize);
    text-align: right;
  }
  div.kijs-panelbar.kijs-disabled {
    background-color: var(--bar-disabled-bkgrndColor);
    border-color: var(--bar-disabled-bkgrndColor);
    color: var(--bar-disabled-fontColor);
  }
  div.kijs-panelbar.kijs-disabled > .kijs-container-inner {
    color: var(--bar-disabled-fontColor);
  }
  /* kijs.gui.Panel */
  .kijs-panel {
    font-size: var(--default-fontSize);
  }
  .kijs-panel > .kijs-header {
    background: linear-gradient(180deg, #dae6f4 10%, #cadaed 60%);
  }
  .kijs-panel > .kijs-header > .kijs-container-inner {
    padding: 2px;
    gap: 3px;
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button {
    background: transparent;
    border-color: transparent;
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button:hover,
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button:focus {
    background: linear-gradient(#f3f4f4, #d5eafd 12px, #c3d9f3 13px, #c5dbf5);
    border: 1px solid var(--button-focus-borderColor);
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button:hover > .kijs-caption,
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button:focus > .kijs-caption {
    color: var(--button-focus-fontColor);
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button:active {
    background: linear-gradient(#c1d2e7, #bed1e6 12px, #8fc1f5 13px, #96c4f5);
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button.kijs-disabled {
    background: transparent;
    border-color: transparent;
    cursor: default;
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-caption,
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-icon {
    color: var(--button-disabled-fontColor);
  }
  .kijs-panel > .kijs-header > .kijs-container-inner > button.kijs-button.kijs-disabled > .kijs-badge {
    background-color: var(--badge-disabled-bkgrndColor);
    color: var(--badge-disabled-fontColor);
  }
  .kijs-panel > .kijs-container-inner {
    background-color: var(--viewport-bkgrndColor);
  }
  .kijs-panel.kijs-collapse-top,
  .kijs-panel.kijs-collapse-bottom {
    height: 27px;
  }
  .kijs-panel > .kijs-footer > .kijs-container-inner {
    padding: 2px;
    gap: 3px;
  }
  /* kijs.gui.container.Tab */
  .kijs-container-tab > .kijs-container-scrollable {
    background: linear-gradient(#dce6f5, #cbdaef);
  }
  .kijs-container-tab > .kijs-container-scrollable > .kijs-container-inner > .kijs-button {
    background: linear-gradient(#ccdef6, #deecfd);
  }
  .kijs-container-tab > .kijs-container-scrollable > .kijs-container-inner > .kijs-button:not(.kijs-current) {
    border: 1px solid #8db2e3;
  }
  .kijs-container-tab > .kijs-container-scrollable > .kijs-container-inner > .kijs-button.kijs-current {
    font-weight: bold;
  }
  /* kijs.gui.Dashboard */
  div.kijs-dashboard {
    background-color: #edf1f7;
  }
  div.kijs-dashboard > .kijs-container-inner > .kijs-dashboard-column > .kijs-container-inner > .kijs-dashboard-panel > .kijs-container-inner {
    background-color: var(--grey00);
  }
  /* kijs.gui.ButtonGroup */
  div.kijs-buttongroup {
    border: 1px solid #b7c8d7;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #e4eaf0 inset;
  }
  div.kijs-buttongroup > .kijs-caption {
    margin: 2px 0;
    color: var(--buttonGroup-button-fontColor);
  }
  div.kijs-buttongroup > .kijs-container-inner {
    padding: 3px;
  }
  /* kijs.gui.field.* */
  .kijs-field > .kijs-content > .kijs-buttons > .kijs-button,
  .kijs-field > .kijs-content > .kijs-container-inner > .kijs-button {
    border-top: 1px solid var(--field-borderColor);
    border-right: 1px solid var(--field-borderColor);
    border-bottom: 1px solid var(--field-borderColor);
    border-left: 1px solid var(--field-borderColor);
  }
  .kijs-field > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline,
  .kijs-field > .kijs-content > .kijs-container-inner > .kijs-button.kijs-inline {
    border-top: 1px solid var(--field-borderColor);
    border-right: 1px solid var(--field-borderColor);
    border-bottom: 1px solid var(--field-borderColor);
    border-left: none;
    border-radius: 0;
  }
  .kijs-field > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline.kijs-smallpaddings,
  .kijs-field > .kijs-content > .kijs-container-inner > .kijs-button.kijs-inline.kijs-smallpaddings {
    width: calc(var(--icon-fontSize) + 4px);
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 0;
    padding-left: 4px;
    justify-content: center;
  }
  .kijs-field > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline.kijs-smallpaddings > .kijs-icon,
  .kijs-field > .kijs-content > .kijs-container-inner > .kijs-button.kijs-inline.kijs-smallpaddings > .kijs-icon {
    margin: 0;
    padding: 0;
  }
  div.kijs-field-email > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-iban > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-month > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-password > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-phone > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-sozversnr > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-text > .kijs-content > .kijs-inputwrapper > input,
  div.kijs-field-url > .kijs-content > .kijs-inputwrapper > input {
    box-shadow: inset 0 6px 3px -3px #eeeeee;
  }
  /* kijs.gui.field.Memo */
  div.kijs-field-memo > .kijs-content > .kijs-inputwrapper > textarea {
    padding: 4px 4px 2px 4px;
    box-shadow: inset 0 6px 3px -3px #eeeeee;
  }
  /* kijs.gui.field.Combo */
  div.kijs-field-combo > .kijs-content > .kijs-inputwrapper > input {
    box-shadow: inset 0 6px 3px -3px #eeeeee;
  }
  /* kijs.gui.field.Checkbox */
  div.kijs-field-checkbox > .kijs-content > .kijs-inputwrapper > .kijs-checkbox-input {
    border-width: 1.5px;
    border-radius: 0;
  }
  /* kijs.gui.field.DateTime */
  div.kijs-field-datetime > .kijs-content > .kijs-inputwrapper > input {
    box-shadow: inset 0 6px 3px -3px #eeeeee;
  }
  /* kijs.gui.field.Display */
  div.kijs-field-display.kijs-title > .kijs-content > .kijs-inputwrapper > div {
    color: #5C8299;
  }
  div.kijs-field-display.kijs-error > .kijs-content > .kijs-inputwrapper > div {
    color: var(--errorColor);
  }
  div.kijs-field-display.kijs-help > .kijs-content > .kijs-inputwrapper > div {
    color: var(--helpColor);
  }
  /* kijs.gui.field.ListView */
  div.kijs-listview > .kijs-container-inner {
    padding: 1px 0 2px 0;
  }
  /* kijs.gui.field.Number */
  div.kijs-field-number > .kijs-content > .kijs-inputwrapper > input {
    box-shadow: inset 0 6px 3px -3px #eeeeee;
  }
  div.kijs-field-number > .kijs-content > .kijs-buttons {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  div.kijs-field-number > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline {
    flex: 1;
    padding-top: 0px;
    align-items: center;
  }
  div.kijs-field-number > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline:last-child {
    border-top: none;
  }
  div.kijs-field-number > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline > .kijs-icon {
    font-size: 9px;
    line-height: 9px;
  }
  div.kijs-field-number > .kijs-content > .kijs-buttons > .kijs-button.kijs-inline.kijs-hidden {
    display: none;
  }
  /* kijs.gui.Menu */
  .kijs-menu-spinbox > .kijs-container-inner {
    background: #f0f0f0;
  }
  .kijs-menu-spinbox > .kijs-container-inner > .kijs-button {
    background: #f0f0f0;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 1px;
  }
  .kijs-menu-spinbox > .kijs-container-inner > .kijs-button:hover {
    border-color: #aaccf6;
    background: linear-gradient(0deg, #d9e8fb 60%, #ebf3fd 60%);
  }
  /* kijs.gui.Tooltip */
  .kijs-tooltip {
    border: 1px solid #8eaace;
    background-color: #e9f2ff;
  }
  /* kijs.gui.grid.Grid */
  div.kijs-grid table > tr > td.kijs-grid-cell-checkbox {
    padding: 4px 0 0 0;
  }
  div.kijs-grid table > tr > td.kijs-grid-cell-icon {
    padding: 5px 0 0 0;
  }
  div.kijs-grid > .kijs-top > .kijs-headercontainer > table {
    /* Header */
    /* Filterzeile */
  }
  div.kijs-grid > .kijs-top > .kijs-headercontainer > table > tr.kijs-grid-header > td > .kijs-button {
    height: 14px;
    border: none;
    background: transparent;
  }
  div.kijs-grid > .kijs-top > .kijs-headercontainer > table > tr.kijs-grid-filter > td > div > .kijs-field input {
    box-shadow: none;
  }
  div.kijs-grid > .kijs-top > .kijs-headercontainer > table > tr.kijs-grid-filter > td > .kijs-grid-filter-reset > .kijs-button {
    border: none;
    border-radius: 0;
    background: transparent;
  }
}
/*# sourceMappingURL=kijs.theme.retro.css.map */