/* ******************
   * kijs Default Theme
   ****************** */


/* LIGHT Farbeschema*/
/* ---------------- */
:root {
    --accentColor: #1f90f2;
    --accentColor2: #d9ecfc;
    --accentColor3: #ff9900;
    
    --errorColor: #c23c45;
    --errorColorLight: #f4d9d9;

    --helpColor: #1f90f2;
    --helpColorLight: #d9ecfc;

    --okColor: #61c259;
    
    --grey00: #fff;
    --grey01: #fff;
    --grey02: #fff;
    --grey03: #f6f6f6;
    --grey04: #efefef;
    --grey05: #ddd;
    --grey06: #ccc;
    --grey07: #aaa;
    --grey08: #888;
    --grey09: #555;
    --grey10: #444;
    --grey11: #000;
}


/* DARK Farbeschema*/
/* --------------- */
:root[data-theme='dark'] {
    --accentColor: #2299ff;
    --accentColor2: #2D2D38;
    --accentColor3: #ff9900;
    
    --errorColor: #be6280;
    --errorColorLight: #6a3446;

    --helpColor: #6295be;
    --helpColorLight: #405d75;
    
    --okColor: #0da100;
    
    --grey00: #000;
    --grey01: #222;
    --grey02: #2d2d2d;
    --grey03: #333;
    --grey04: #444;
    --grey05: #555;
    --grey06: #666;
    --grey07: #777;
    --grey08: #888;
    --grey09: #bbb;
    --grey10: #ccc;
    --grey11: #fff;
}


/* Masse und Farbzuweisungen */
/* ------------------------- */
:root {
    /* Masse */
    --default-fontSize: 14px;
    --default-lineHeight: 16px;
    
    --icon-fontSize: 20px;
    
    --button-fontSize: 14px;
    --button-lineHeight: 16px;
    --button-height: 30px;
    
    --container-fieldset-label-height: 16px;
    --container-fieldset-icon-fontSize: 16px;
    --container-fieldset-caption-fontSize: 12px;
    --container-fieldset-caption-lineHeight: 16px;
    --container-fieldset-caption-paddingTop: 0px;
    
    --field-fontSize: 14px;
    --field-lineHeight: 16px;
    --field-height: 30px;
    --field-label-paddingTop: 7px;
    --checkbox-height: 20px;
    --checkbox-fontSize: 14px;
    --checkbox-lineHeight: 18px;
    --range-btnHeight: 20px;
    --switch-height: 28px;
    
    --badge-fontSize: 12px;
    --badge-lineHeight: 16px;
    
    --headerBar-fontSize: 16px;
    --footerBar-fontSize: 14px;
    
    --msgbox-fontSize: 14px;
    --msgbox-lineHeight: 16px;
   
    --item-fontSize: 14px;
    --item-lineHeight: 16px;
    --item-label-fontSize: 12px;
    
    --panel-collapse-height: 36px;
    --panel-collapse-width: 36px;

    /* Standard Feldbreiten */
    --defaultField-inputWidth: 220px;
    --defaultNumber-inputWidth: 100px;
    --defaultMonth-inputWidth: 130px;
    --defaultDate-inputWidth: 90px;
    --defaultTime-inputWidth: 70px;
    --defaultDateTime-inputWidth: 150px;
    --defaultWeek-inputWidth: 90px;
    --defaultDateRange-inputWidth: 190px;
    --defaultPhone-inputWidth: 150px;
    --defaultSozVersNr-inputWidth: 140px;
    
    
    /* Farbzuweisungen */
    --viewport-bkgrndColor: var(--grey03);
    --splitter-overlay-bkgrndColor: var(--grey06);


    /* Default */
    --default-fontFamily: 'Roboto', sans-serif;
    --default-fontColor: var(--grey11);
    --default-disabled-fontColor: var(--grey08);

    
    /* Mask */
    --mask-bkgrndColor: rgba(0, 0, 0, 0.35);
    --mask-fontColor: #fff;
    --mask-icon-fontColor: #fff;

    /* Separator */
    --separator-bkgrndColor: var(--grey05);
    --separator-disabled-bkgrndColor: var(--grey06);
    
    /* Icon */
    --icon-fontColor: var(--grey10);
    --icon-disabled-fontColor: var(--grey08);

    /* Scrollbar (nur Chrome) */
    --scrollbar-size: 5px;
    --scrollbar-color: var(--grey05);
    --scrollbar-background-color: var(--grey04);
    --scrollbar-hover-color: var(--grey06);
    
    /* Button */
    --button-bkgrndColor: var(--grey03);
    --button-borderColor: var(--grey05);
    --button-fontColor: var(--grey11);

    --button-icon-fontColor: var(--grey10);

    --button-focus-bkgrndColor: var(--grey05);
    --button-focus-borderColor: var(--accentColor);
    --button-focus-fontColor: var(--grey11);
    
    --button-active-bkgrndColor: var(--grey06);
    
    --button-disabled-fontColor: var(--grey08);

    
    /* Button im Panel-Header */
    --buttonGroup-button-fontColor: var(--grey09);

    --buttonGroup-button-bkgrndColor: var(--grey03);
    --buttonGroup-button-borderColor: transparent;

    --buttonGroup-button-focus-bkgrndColor: var(--grey05);
    --buttonGroup-button-focus-fontColor: var(--grey11);


    /* Buttons im Panel-Footer */
    --footer-button-bkgrndColor: var(--grey03);
    --footer-button-borderColor: var(--grey07);

    --footer-button-focus-bkgrndColor: var(--grey05);
    --footer-button-focus-borderColor: var(--accentColor);

    --footer-button-disabled-bkgrndColor: var(--grey03);
    --footer-button-disabled-borderColor: var(--grey07);


    /* Buttons im Window-Footer */
    --window-footer-button-bkgrndColor: var(--accentColor);
    --window-footer-button-borderColor: var(--accentColor);
    --window-footer-button-fontColor: var(--grey11);

    --window-footer-button-focus-borderColor: var(--grey11);
    --window-footer-button-focus-fontColor: var(--grey11);

   
    /* Tab */
    --tabBar-bkgrndColor: var(--grey03);
    
    --tabButton-bkgrndColor: var(--grey04);
    --tabButton-borderColor: var(--grey05);
    --tabButton-fontColor: var(--grey11);
    
    --tabButton-current-bkgrndColor: var(--grey02);
    --tabButton-current-borderColor: var(--grey05);
    --tabButton-current-fontColor: var(--accentColor);
    
    --tabButton-focus-bkgrndColor: var(--grey04);
    --tabButton-focus-borderColor: var(--grey05);
    --tabButton-focus-fontColor: var(--accentColor);
    
    
    /* Badge */
    --badge-bkgrndColor: var(--accentColor3);
    --badge-fontColor: var(--grey11);
    --badge-disabled-bkgrndColor: var(--grey06);
    --badge-disabled-fontColor: var(--grey08);


    /* Panel */
    --panel-bkgrndColor: var(--grey02);
    --panel-innerBorderColor: var(--grey05);
    --panel-borderColor: var(--accentColor);
    --panel-disabled-borderColor: var(--grey07);


    /* Bar */
    --bar-fontColor: var(--grey00);
    --bar-bkgrndColor: var(--accentColor);
    
    --bar-disabled-fontColor: var(--grey03);
    --bar-disabled-bkgrndColor: var(--grey07);
    
    --bar-icon-fontColor: var(--grey00);
    --bar-icon-disabled-fontColor: var(--grey03);
    
    --bar-button-icon-fontColor: var(--grey03);
    --bar-button-icon-disabled-fontColor: var(--grey06);


    /* container.Fieldset */
    --container-fieldset-borderColor: var(--grey07);


    /* MsgBox */
    --msgbox-fontColor: var(--grey11);


    /* Field */
    --field-fontColor: var(--grey11);
    --field-bkgrndColor: var(--grey01);
    --field-borderColor: var(--grey07);
    --field-focus-borderColor: var(--accentColor);
    --field-label-fontColor: var(--grey11);

    --field-item-bkgrndColor: var(--grey09);
    --field-item-focus-bkgrndColor: var(--accentColor);

    --field-disabled-bkgrndColor: var(--grey03);
    --field-disabled-fontColor: var(--grey08);

    --field-error-bkgrndColor: var(--errorColorLight);
    
    /* Range */
    --range-bkgrndColor: var(--grey07);
    --range-btnColor: var(--grey09);

    /* Item */
    --item-bkgrndColor: var(--grey02);
    --item-borderColor: var(--grey03);
    --item-fontColor: var(--grey11);
    
    --item-today-fontColor: var(--accentColor);
    
    --item-focus-bkgrndColor: var(--grey03);
    --item-focus-borderColor: var(--grey03);
    --item-focus-fontColor: var(--grey11);

    --item-selected-bkgrndColor: var(--accentColor2);
    --item-selected-borderColor: var(--accentColor);
    --item-selected-fontColor: var(--grey11);

    --item-disabled-bkgrndColor: var(--grey03);
    --item-disabled-borderColor: var(--grey05);
    --item-disabled-fontColor: var(--grey11);

    --item-selected-disabled-bkgrndColor: var(--grey03);
    --item-selected-disabled-borderColor: var(--grey07);
    --item-selected-disabled-fontColor: var(--grey11);

    --item-label-fontColor: var(--grey08);
    --item-label-disabled-fontColor: var(--grey08);


    /* Clock */
    --clock-bkgrndColor: var(--grey04);
    --clock-fontColor: var(--grey11);
    --clock-pointer-bkgrndColor: var(--accentColor);
    --clock-disabled-pointer-bkgrndColor: var(--grey07);
    

    /* Help/Error Icon */
    --icon-error-bkgrndColor: var(--errorColorLight);
    --icon-error-borderColor: var(--errorColor);
    --icon-error-fontColor: var(--errorColor);

    --icon-help-bkgrndColor: var(--helpColorLight);
    --icon-help-borderColor: var(--helpColor);
    --icon-help-fontColor: var(--helpColor);


    /* Drag & Drop */
    --dragover-ok-borderColor: var(--accentColor3);
    --dragover-forbidden-borderColor: var(--errorColor);

    /* Grid */
    --grid-header-bkgrndColor: var(--grey03);
    --grid-border-color: var(--grey05);
}


/* DARK Farbzuweisungen*/
/* ------------------- */
:root[data-theme='dark'] {
    --bar-fontColor: var(--grey11);
    --badge-fontColor: var(--grey00);
    
    --bar-bkgrndColor: var(--grey08);
    --panel-borderColor: var(--grey08);
    
    --bar-icon-fontColor: var(--grey10);
    --bar-icon-disabled-fontColor: var(--grey05);
    
    --bar-button-icon-fontColor: var(--grey10);
    --bar-button-icon-disabled-fontColor: var(--grey05);
}
