/* CSS für Home-App dataResources */

/* LIGHT Farbeschema*/
/* ---------------- */
:root {
    --paperBkgrnd: url(../img/paperBkgrnd.png);
}

/* DARK Farbeschema*/
/* --------------- */
:root[data-theme='dark'] {
    --paperBkgrnd: url(../img/paperBkgrnd_dark.png);
}

/* Icons */
.icoWizard16 {
    background-image: url('../img/icoWizard16.png');
    height: 16px;
    width: 16px;
}
.icoFolder32 {
    background-image: url('../img/icoFolder32.png');
    height: 32px;
    width: 32px;
}
.icoFolderOpen32 {
    background-image: url('../img/icoFolderOpen32.png');
    height: 32px;
    width: 32px;
}

/* Paper Background */
.paperBkgrnd {
    background: var(--paperBkgrnd);
    background-repeat: repeat;
}