/* ******************
   * Home-App dataResources Style
   ****************** */

/* START LAYER app */
@layer app {


    /* LIGHT Farbeschema*/
    /* ---------------- */
    :root {
        --paperBkgrnd: url(../img/paperBkgrnd.png);
    }

    /* DARK Farbeschema*/
    /* --------------- */
    :root[data-theme='dark'] {
        --paperBkgrnd: url(../img/paperBkgrnd_dark.png);
    }

    /* Icons */
    .icoWizard16 {
        background-image: url('../img/icoWizard16.png');
        height: 16px;
        width: 16px;
    }
    .icoFolder32 {
        background-image: url('../img/icoFolder32.png');
        height: 32px;
        width: 32px;
    }
    .icoFolderOpen32 {
        background-image: url('../img/icoFolderOpen32.png');
        height: 32px;
        width: 32px;
    }

    /* Paper Background */
    .paperBkgrnd {
        background: var(--paperBkgrnd);
        background-repeat: repeat;
    }

    /* Dashboard-Item-Panel Drag&Drop*/
    .kijs-dashboard-panel.dashboardItemPanel > .kijs-container-inner > div.kijs-dragging {
        opacity: 0.6
    }
    .kijs-dashboard-panel.dashboardItemPanel > .kijs-container-inner > div.kijs-sourceDragOver {
        border: 2px solid var(--accentColor3) !important;
    }
    .kijs-dashboard-panel.dashboardItemPanel > .kijs-container-inner > .kijs-dropMarker {
        flex: none;
        height: 31px;
        border: 2px solid var(--accentColor3);
        border-radius: 5px;
    }
    

/* END LAYER app */
}